*{
	margin: 0px;
	padding: 0px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	font-weight: lighter;
}



body {

  webkit-tap-highlight-color: #222222;
    background-image: url('../img/header-pastel.jpg');
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #F05F40;
}
a:hover,
a:focus {
  color: #eb3812;
}


}
#menu-p{
 
background-color:#2d2d2d;


}
#menu-perfil {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color:#2d2d2d;
}

#menu-top {
  position: fixed;

  background-color:#2d2d2d;
}


#iframe-p {

  background-color:#ffffff;
}
#ul-menu{

  margin-top:150px;
  list-style: none;
  display: block;
}
#li-menu{
  width:100%;
  height:50px;
  border-bottom: 1px solid #323232;
  overflow: hidden;
}
p.perfil{
	text-align: center;
	color: white;
}

p.menu{

  position: relative;
  padding:16px;
  padding-right: 25px;
  
  color: white;
  opacity: .6;
  font-size: 1.2em;
  text-align: center;
}

div.barra{

  position: fixed;
  height: 50px;
  width: 0px;
  background-color: #aaa;
  opacity: .1;
  -webkit-transition: width .2s;
  -moz-transition: width .2s;
  -ms-transition: width .2s;

}
li:hover div.barra{
	width: 300px;

}


.bg-primary {
  background-color: #F05F40;
}

.section-heading {
  margin-top: 0;
}
hr.light {
  border-color: white;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}


.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.navbar-default .navbar-header .navbar-brand {
  color: #F05F40;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #eb3812;
}
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #F05F40;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #F05F40 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #F05F40;
    font-size: 14px;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #eb3812;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #F05F40;
  }
}

header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}


.btn-primary {
  color: white;
  background-color: #F05F40;
  border-color: #F05F40;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.button {
 border: none;
 background: #F05F40;
 color: #f2f2f2;
 padding: 10px;
 font-size: 18px;
 border-radius: 5px;
 position: relative;
 box-sizing: border-box;
 transition: all 500ms ease;
}

.button:hover {
 background: rgba(0,0,0,0);
 color: #F05F40;
 box-shadow: inset 0 0 0 3px #F05F40;
}




